# Python
__pycache__/
*.py[cod]
*.so
.Python

# Entorno virtual
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de entorno
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db